[Unit]
Description=Monkey Ops Flask App
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/monkey_ops/backend
ExecStart=/usr/bin/python3 /home/ubuntu/monkey_ops/backend/main.py
Restart=always

[Install]
WantedBy=network.target
